h2{
	text-align: center;
	/*ketebalan font*/
    font-weight: 800;
    font-family: sans-serif;
}
.underline-title {
    background: -webkit-linear-gradient(left, #1E90FF, #191970);
    height: 2px;
    margin: -1.1rem auto 0 auto;
    width: 89px;
}
h3{
	text-align: center;
	/*ketebalan font*/
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Form{
	width: 350px;
	background: #ADD8E6;
	/*meletakkan form ke tengah*/
	margin: 80px auto;
    padding: 30px 20px;
    box-shadow: 0px 4px 8px darkslategray;
    text-align: center;
    font-size: medium;
}
label{
    font-family: arial;
    font-size: 12pt;
}
.form_login{
	/*membuat lebar form penuh*/
	box-sizing : border-box;
	width: 100%;
	padding: 10px;
	font-size: 8pt;
	margin-bottom: 20px;
}
.tombol_login{
	background: #20B2AA;
	color: white;
	font-size: 11pt;
	width: 80%;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
}
.tombol_signup{
	background: rgb(20, 150, 143);
	color: white;
	font-size: 11pt;
	width: 80%;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
}
